
<select id="LanguageFormSelect" class="form-select form-select-sm w-auto">
    <option value="@SystemConstants.LangId.vi">Tiếng Việt</option>
    <option value="@SystemConstants.LangId.en">Tiếng Anh</option>
</select>