@using BaseSource.ViewModels.Shared.Account
@model ForgotPasswordVm
@{
    ViewData["Title"] = "QUÊN MẬT KHẨU";
}

<div class="row justify-content-center align-items-center my-5">
    <div class="col-md-4">
        <h3 class="text-center mb-4">@ViewData["Title"]</h3>
        <form asp-action="ForgotPassword" method="post">
            <h4>Điền thông tin để lấy lại mật khẩu</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="gap-2 btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>

