@model ChangePasswordVm
@{ 
    ViewData["Title"] = "Change Password";
}
 

<div class="card shadow h-100">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
        <a class="gap-2 btn btn-sm btn-secondary shadow-sm" asp-action="Manage"><i class="fas fa-arrow-left fa-fw fa-sm text-white-50"></i> Back</a>
    </div>

    <div class="card-body">
        <form asp-action="ChangePassword" method="post">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="OldPassword" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewPassword" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="ConfirmPassword" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button type="submit" class="gap-2 btn btn-primary btn-sm">Change password</button>
                </div>
            </div>
        </form>
    </div>
</div>
