<nav class="sidenav shadow-right sidenav-dark">
    <div class="sidenav-menu">
        <div class="nav accordion" id="accordionSidenav">
            <a class="nav-link home-nav" href="@Url.Action("Index", "Home")">
                <div class="nav-link-icon"><i class="far fa-dashboard"></i></div>
                Dashboard
            </a>

            <div class="sidenav-menu-heading">DATA</div>

            <a class="nav-link translog-nav" href="#">
                <div class="nav-link-icon"><i class="far fa-list"></i></div>
                Lịch sử GD
            </a>

            <div class="sidenav-menu-heading">TÀI KHOẢN</div>
            <a class="nav-link user-nav" href="@Url.Action("Manage", "Account")">
                <div class="nav-link-icon"><i class="far fa-user-cog"></i></div>
                Cấu hình
            </a>
            @* <a class="nav-link api-nav" href="@Configuration["BackendApiBaseAddress"]/swagger/index.html" target="_blank">
                <div class="nav-link-icon"><i class="far fa-book"></i></div>
                API docs
            </a> *@
        </div>
    </div>
</nav>