@model ChangePasswordVm

<form asp-action="ChangePassword" method="post" data-name="ajaxForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="OldPassword" class="form-label mb-2 font-heading"></label>
        <div class="">
            <input asp-for="OldPassword" class="common-input border" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label mb-2 font-heading"></label>
        <div class="">
            <input asp-for="NewPassword" class="common-input border" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label mb-2 font-heading"></label>
        <div class="">
            <input asp-for="ConfirmPassword" class="common-input border" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-main pill w-100">Đổi mật khẩu</button>
    </div>
</form>
