@model ForgotPasswordVm
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row justify-content-center align-items-center my-5">
    <div class="col-lg-6 row justify-content-center">
        <div class="card common-card p-sm-3">
            <div class="card-body">
                <h3 class="text-center mb-3">@ViewData["Title"]</h3>

                <form asp-action="ForgotPassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" asp-for="Email" placeholder="">
                        <label asp-for="Email">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="gap-2 btn btn-primary btn-lg w-100">Xác nhận</button>
                    </div>

                    <div class="mb-3">
                        <p>
                            Đã có tài khoản? <a href="/Account/Login">Đăng nhập</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}